body{
  font-family: 'Gugi', sans-serif;
  background-color: #ebebeb;
}

.navbar{
  position: fixed;
  box-sizing: border-box;
  white-space: nowrap;
  height: 50px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 0px;
  top: 0;
  background-color: black;
  color: white;
  border-radius: 0;
  z-index: 95;
}
li {
    list-style-type: none;
}

.header{
  min-height: 200px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 75px;
  font-weight: bolder;
  background-image: url("./header_image.jpg");
  color: white;
  clear: both;
}
h1{
  font-weight: bolder;
  font-style: sans-serif;
}

h2{
  font-weight: bold;
  font-style: sans-serif;
}



.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.15;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  min-height: 80%;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 800px;
}
.card {
  margin: 1rem;
}
.img-container{
  border-width:5px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  transition: all 0.3s ease-in-out;
}

/* Scale up the box */
.img-container:hover {
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.img-container::after {
  opacity: 1;
}

img{
    width: 125px;
    height: 125px;
    margin: 5px 5px;
    border-radius: 1px;
    cursor: pointer;
}
